@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body{
    font-family: "PT Sans";
    background-image: url("../../media/background3.png");
    
}

a {
    text-decoration: none;
    color: black;
    }


.wrapper{
    background-image: url("../../media/background-wrapper3.jpg");
    width: 100%;
	width: 800px;
    height: 500px ;
    margin: 100px auto;
    border-radius: 2px;
    box-shadow: 10px 5px 5px rgb(87, 85, 85);
    box-sizing: border-box;
    padding: 10px;
    
    

    .navbar{
        width: 100%;

        ul{
            text-transform: uppercase;
            margin: 10px;
            list-style:none;
            display: flex;
            justify-content: flex-end;
            li{
                margin:auto 30px; 
            }
        }

    }
    .image-block{
        width: 100%;
        display: flex;
        justify-content: space-around;
    
        .block {
            max-width: 50%;
        }
        img {
            max-width: 50%;
            border-radius: 2px;
            box-shadow: 10px 5px 5px rgb(87, 85, 85);
            
        }

    }
}